.createjamsession {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.createjamsession h1 {
    color: #F2AA4C;
}
.addressForm {
    display: flex;
    flex-direction: row;
    width: 610px;
}
.sessionForm {
    height: 38px;
    background-color: #fff;
    border: #ccc;
    border-radius: 4px;
    margin: 5px; 
    padding: 5px;
    font-size: 16px;
    color: #333;
    background-color: #ffffff;
}

.name{
    width: 600px;
    margin: 0px;
    padding: 5px;
    margin-bottom: 5px;
}
.city{
    width: 610px;
    margin: 0px;
    padding: 5px;
    margin-bottom: 5px;
}
.sessionForm2 {
    height: 38px;
    background-color: #fff;
    border: #ccc;
    border-radius: 4px;
    margin: 5px;
    padding: 5px;
    font-size: 16px;
    color: #333;
    background-color: #ffffff;
}
.street {
    margin-left: 0px;
    margin-right: 5px;
    width: 290px;
}
.plz {
    margin-left: 5px;
    margin-right: 0px;
    width: 290px;
}

.createjamsession h4 {
    color: #F2AA4C;
    margin-bottom: 0px;
}
.createjamsession button:hover {
    cursor: pointer;
}
.createjamsession button:active {
    background: linear-gradient(0.25turn, #333, #ebf8e1, #F2AA4C);

    margin: 5px 0px 5px 0px;
} 
@media(max-width:690px){
    .createjamsession{
        width: 400px;
    }
}