.createjamsession {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.createjamsession h1 {
    color: #F2AA4C;
}
.addressForm {
    display: flex;
    flex-direction: row;
}
.sessionForm {
    height: 38px;
    background-color: #fff;
    border: #ccc;
    border-radius: 4px;
    margin: 5px; 
    padding: 5px;
    font-size: 16px;
    color: #333;
    background-color: #ffffff;
}

.name{
    width: 600px;
    margin: 0px;
    padding: 5px;
    margin-bottom: 5px;
}
.sessionForm2 {
    height: 38px;
    background-color: #fff;
    border: #ccc;
    border-radius: 4px;
    margin: 5px;
    padding: 5px;
    font-size: 16px;
    color: #333;
    background-color: #ffffff;
}
.street {
    margin-left: 0px;
    margin-right: 5px;
    width: 290px;
}
.plz {
    margin-left: 5px;
    margin-right: 0px;
    width: 290px;
}