.foundSessions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /* height: 100vh; */
    /* width: 100%; */
}
.results {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-start;
}
.ticketCard h3 {
    color: #F24CE7;
}
.ticketCard {
    display: flex;
    /* width: 25%; */
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    margin-right: 50px;
}
.sessionCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 600px;
    background: radial-gradient(circle, white, gray);;
    border: 5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #F2AA4C, #4CF257, #4C94F2, #F24CE7, #F2AA4C);
    margin: 5px 0px;
    padding: 10px;
    /* background-color: rgb(196, 45, 210, 0.3); */
}

.sessionTitle {
    display: flex;
    margin: 0px 5px;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
}

.sessionMain {
    display: flex;
    margin: 10px;
    padding: 10px;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
}
.cardBottom {
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}
.genreLabels {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}
.genre {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    height: 30px;
    margin: 5px;
    width: 100px;
    border: 1px solid black;
}
.glow-on-hover {
    width: 220px;
    height: 30px;
    border: none;
    outline: none;
    color: #fff;
    background: gray;
    cursor: pointer;
    position: relative;
    z-index: 0;
    margin: 5px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #F2AA4C, #4CF257, #4C94F2, #F24CE7, #F2AA4C);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

